<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39&family=Poppins&display=swap" rel="stylesheet">

<style>
    body {
        font-family: sans-serif;
        font-size: 10pt;
        background-repeat: no-repeat;
        background-position: center;
        line-height: 0.1em;
    }
    
    .barcode-container {
        display: flex;
        flex-direction: column;
    }
    
    .barcode{
        font-family: 'Libre Barcode 39', cursive;
        font-size: 13px;
        font-weight: 100;
        /*border: 1px solid #ccc;*/ /* Agrega bordes para visualización */
        padding: 3px; /* Añade relleno para mejor aspecto visual */
        margin: 0px; /* Añade márgenes entre los elementos */
        transform: scaleY(4); /* Ajusta el valor según la longitud deseada */
        transform-origin: top; /* Establece el punto de origen en la parte superior */
        white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    }

    .round-box {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        height: 1in;
        margin: 0pt;
        border: 0.1em solid;
        border-color: #000;
        border-radius: 1em 10px 10px 10px;
        font-size: 8pt;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 1px;
    }

    .gray-box {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        height: 1in;
        margin: 2pt;
        border: 0.0em solid;                        
        font-size: 8pt;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 4px;
        background-color: #eaeaea;
    }

    a {
        color: blue !important;
        text-decoration: underline;
        cursor: auto;
    }

    #tabdetalle {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        font-size: 1.3em;
    }

        #tabdetalle td, #tabdetalle th {            
            padding: 8px;
            font-size: 0.7em;
        }

        #tabdetalle tr {
            background-color: #f2f2f2;
        }

        #tabdetalle tr:hover {
            background-color: #ddd;
        }

        #tabdetalle th {
            font-weight: bold;
            font-size: 0.7em;
            padding-top: 3px;
            padding-bottom: 3px;
            text-align: left;
            background-color: #ddd;
            color: #000;
        }

    .infoAdicional {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        font-size: 1.3em;
        margin: 10px;
    }

        .infoAdicional td, .infoAdicional th {
            
            padding: 8px;
            font-size: 0.7em;
        }

        .infoAdicional tr {
            background-color: #f2f2f2;
        }

        .infoAdicional tr:hover {
            background-color: #ddd;
        }

        .infoAdicional th {
            font-weight: bold;
            font-size: 0.7em;
            padding-top: 3px;
            padding-bottom: 3px;
            text-align: left;
            background-color: #ddd;
            color: #000;
        }

    .subsection-title {
        background-color: #eaeaea;
        font-weight: bold;
    }

    .summary-title-top {
        background-color: #f2f2f2;
        text-align: left;
        border-left: none;
        border-right: none;        
        border-top-width: medium;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1em;
        font-weight: bold;
    }

    .summary-data-top {
        text-align: right;
        padding-right: 3px;
        background-color: #eaeaea;        
        border-top-width: medium;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1em;
        font-weight: bold;
    }

    .summary-title {
        background-color: #f2f2f2;
        text-align: left;
        border-right: none;
        /*border-bottom: 0.1pt solid;*/
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 0.9em;
    }

    .summary-data {
        background-color: #eaeaea;
        text-align: right;
        padding-right: 3px;
        border-right: none;        
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 0.9em;
    }

    .summary-title-bottom {
        background-color: #f2f2f2;
        text-align: left;
        border-right: none;        
        border-bottom-width: medium;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1.0em;
        font-weight: bold;
    }

    .summary-data-bottom {
        background-color: #eaeaea;
        text-align: right;
        padding-right: 3px;
        border-right: none;        
        border-bottom-width: medium;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1.0em;
        font-weight: bold;
    }

    /*
    #body {
        width: 820px;
    }
    */

    @media print { body { -webkit-print-color-adjust: exact; } }
    
.page-header, .page-header-space {
    height: 230px; /* Max is 230px */
    margin: 0;
}

.page-footer, .page-footer-space {
    height: 230px; /* Max is 230px */
    margin: 0;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid; /* for demo */
}

.page-header {
  position: fixed;
  top: 0mm;
  width: 100%;
  border-bottom: 1px solid; /* for demo */
}

.page {
  page-break-after: always;
}

@page {
    /* this affects the margin in the printer settings */ 
    /*margin: 20mm 0mm 30mm 0mm */
    /*margin: 0mm 0mm 0mm 0mm */
}



</style>

{% set doc_build = build_doc_fac(doc.name) %}

<div class="page-header">
    Holis
</div>

<div class="page">
        <table style="font-size: 8pt;width:100%;height:100%" cellspacing="0">
            <tr>
                <td align="center" valign="middle" style="width: 50%;vertical-align:bottom">
                    <table style="width: 100%;" cellspacing="0">
                        <tr>
                            <td>
                                <table style="height:150px">
                                    <tbody>
                                        <tr>
                                            <td>
                                            	<!--<img src="/assets/erpnext/images/erpnext-logo.svg" width="200px" />-->
                                            	<img src="{{ frappe.db.get_value("Company", doc.company, "company_logo") or "" }}" width="200px" />
                                            	<!--<img src="https://app.beebtech.net:2053/resources/img/logo_beebtech.png" width="150px"/>-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:bottom">
                                <table class="gray-box" style="width:100%;" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td height="40px" valign="top" style="width:310px;font-size: 10pt;"><strong>{{ doc.company }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td align="left"><strong>R.U.C.:</strong>&nbsp;&nbsp;&nbsp; {{ frappe.db.get_value("Company", {'name': doc.company}, "tax_id") or "" }}</td>
                                    </tr>
                                    <tr>
                                        <td align="left"><strong>Matriz:</strong> {{doc_build.DireccionMatriz}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td align="left"><strong>CONTRIBUYENTE ESPECIAL:</strong>
                                        
                                            <span align="left"><strong>NO</strong></span>
                                        
                                        </td>
                                    </tr>
                                    <tr>
                                    
                                    </tr>
                                    <tr>
                                        <td align="left"><strong>OBLIGADO A LLEVAR CONTABILIDAD: obligadoContabilidad</strong></td>
                                    </tr>
                                    
                                    
                                    <tr>
                                        <td align="left"><strong>CONTRIBUYENTE RÉGIMEN RIMPE</strong></td>
                                    </tr>
                                    
                                    <tr>
                                        <td align="left"><strong>Agente de Retenci&oacute;n Resoluci&oacute;n No.</strong></td>
                                    </tr>
                                    <tr>
                                        <td align="left"><strong>agenteRetencion</strong></td>
                                    </tr>
                                    
                                </table>
                            </td>

                        </tr>
                    </table>
                </td>
                <td style="width:50%">
                    <table cellspacing="0" class="gray-box" style="width:100%;">
                        <tr>
                            <td>
                                <table style="font-size: 8pt;width:100%" padding="0" cellspacing="0">
                                    <tr>
                                        <td><strong>FACTURA:</strong></td>
                                        <td valign="top" align="right"><strong>No.</strong>estab-ptoEmi-secuencial</td>
                                    </tr>                                    
                                </table>
                            </td>
                        </tr>
                                           
                        <tr>
                            <td align="left"><strong>N&Uacute;MERO DE AUTORIZACI&Oacute;N</strong></td>
                        </tr>
                        <tr>
                            <td align="left"><strong>{{doc_build.numeroautorizacion}}</strong></td>
                        </tr>
                        <tr>                           
                            <td align="" style="font-size:9px">&nbsp;</td>
                         </tr>
                        <tr>
                            <td class="written_field" style="padding-left: 2.5in;font-size:.1em;">&nbsp;</td>
                        </tr>
                         <tr>
                            <td style="font-size:9px"><strong>Fecha y hora de autorizaci&oacute;n:</strong></td>                            
                         </tr>
                         <tr>                           
                            <td align="" style="font-size:9px"><strong>{{doc_build.fechaautorizacion}}</strong></td>
                         </tr>
                         <tr>                           
                            <td align="" style="font-size:9px">&nbsp;</td>
                         </tr>
                        <tr>
                            <td align="left"><strong>AMBIENTE:</strong>
                                                            <span>PRODUCCI&Oacute;N</span>
                                                    
                            </td>
                        </tr>
                        <td style="font-size:9px" colspan="2"><strong>EMISI&Oacute;N:</strong>&nbsp;&nbsp;&nbsp;NORMAL</td>
                        <tr>
                            <td align="center" style="font-size:9px">CLAVE DE ACCESO</td>
                        </tr>
                        <tr>
                            <td align="center" style="width:80%">
                                <div class="barcode-container">
                                    <div class="barcode">{{doc_build.numeroautorizacion}}</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="font-size: .7em;font-weight: bold;font-family:helvetica;">
                                {{doc_build.numeroautorizacion}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
            </tr>
        </table>

    <table class="gray-box" style="width:100%;" cellpadding="0" cellspacing="0">
        <tr>            
            <td height="30px" valign="top" style="width:50%;font-size: 8pt;"><strong>Raz&oacute;n Social: {{ doc_build.RazonSocial }}</strong></td>    
            <td height="30px" valign="top" style="width:50%;font-size: 8pt;"><strong>RUC/CI: {{doc_build.customer_tax_id}}</strong></td>
        </tr>
        <tr>            
            <td height="30px" valign="top" style="width:50%;font-size: 8pt;"><strong>Direcci&oacute;n: {{doc_build.direccionComprador}}</strong></td>    
            <td height="30px" valign="top" style="width:50%;font-size: 8pt;"><strong>Tel&eacute;fono: +593 {{doc_build.customer_phone}}</strong></td>
        </tr>
        <tr>            
            <td height="30px" valign="top" style="width:50%;font-size: 8pt;"><strong>Fec. Emi.: {{doc_build.posting_date}}</strong></td>    
            <td height="30px" valign="top" style="width:50%;font-size: 8pt;"><strong>Email: {{doc_build.customer_email_id}}</strong></td>
        </tr>        
    </table>

        <table id="tabdetalle" style="width:100%;" style="" cellspacing="0">
            <tbody>
                <tr>
                    <th style="min-width:50px;">Cod.</th>
                    <th style="min-width:50px;">Cant.</th>
                    <th style="min-width:400px;">Descripci&oacute;n</th>
                    <th style="min-width:70px;">P. Un.</th>
                    <th style="min-width:70px;">Desc.</th>
                    <th style="min-width:70px;">Total</th>
                </tr>
                
                {% for item in doc.items %}
            		<tr>
            		    <td>{{ item.item_code }}</td>
            		    <td class="text-right">{{ item.qty }}</td>
            			<td>{{ item.item_name }}</td>
            			<td class="text-right">{{ item.get_formatted('price_list_rate') }}</td>
            			<td class="text-right">{{ item.get_formatted('discount_amount') }}</td>
            			<td class="text-right">{{ item.get_formatted('amount') }}</td>
            		</tr>
                {% endfor %}
            </tbody>
        </table>

        <table border="0" cellpadding="0" cellspacing="0" style="width: 86%">
            <tbody>
                <tr>
                    <td style="width:50%">
                        <table class="infoAdicional">
                            <tbody>
                                <tr>
                                    <td class="subsection-title" colspan="2">Pagos</td>
                                </tr>
                                {% for payment in doc_build.pagos %}
                                    <tr>
                                        <td style="text-align: center;">F. Pago</td>
                                        <td style="text-align: center;font-size: 9px;">{{payment.formaPagoDescripcion}}</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">Total</td>
                                        <td style="text-align: center;">{{frappe.format(payment.total,'Currency')}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        <table class="infoAdicional">
                            <tbody>
                                <tr>
                                    <td class="subsection-title" colspan="2">Informaci&oacute;n Adicional</td>
                                </tr>                           
                            
                                {% for jsonItem in doc_build.infoAdicional %}
                                    <tr>
                                        <td style="text-align: center;">{{jsonItem.nombre}}</td>
                                        <td style="text-align: center;">{{jsonItem.valor}}</td>
                                    </tr>
                                {% endfor %}
                            
                            
                            </tbody>
                        </table>                        
                    </td>
                    
                    
                    <td style="width:50%" valign="top">
                        <table cellpadding="1" cellspacing="0" style="width:100%">
                            <tbody>
                                <tr>
                                    <td class="summary-title-top">SUBTOTAL IVA 12 %</td>
                                    <td class="summary-data-top">$ DblSubTotalIva12</td>
                                </tr>
                                    
                                <tr>
                                    <td class="summary-title">SUBTOTAL 0%</td>
                                    <td class="summary-data">$ DblSubTotalIva0</td>
                                </tr> 
                                <tr>
                                    <td class="summary-title">SUBTOTAL No objeto de IVA</td>
                                    <td class="summary-data">$ 0.00</td>
                                </tr>
                                <tr>
                                    <td class="summary-title">SUBTOTAL Exento de IVA</td>
                                    <td class="summary-data">$ 0.00</td>
                                </tr>
                                <tr>
                                    <td class="summary-title">SUBTOTAL SIN IMPUESTOS</td>
                                    <td class="summary-data">{{doc.get_formatted('total')}}</td>
                                </tr>
                                <tr>
                                    <td class="summary-title">TOTAL DESCUENTO</td>
                                    <td class="summary-data">{{doc.get_formatted('discount_amount')}}</td>
                                </tr>
                                <tr>
                                    <td class="summary-title">ICE</td>
                                    <td class="summary-data">$ 0.00</td>
                                </tr>
                               
                               
                                
                                    <tr>
                                        <td class="summary-title">IVA itemTaxes %</td>
                                        <td class="summary-data">$ itemTaxes</td>
                                    </tr>
                                

                                <tr>
                                    <td class="summary-title-bottom"><strong>VALOR A PAGAR $</strong></td>
                                    <td class="summary-data-bottom"><strong>{{doc.get_formatted('grand_total')}}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
 </div>
    
    <div class="page-footer">
		<div style="">Consulte sus facturas en <a href="https://beebtech.net/">https://beebtech.net</a></div>
	</div>