<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

{# <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39&family=Poppins&display=swap" rel="stylesheet"> #}
{# <link href="/assets/erpnext_ec/css/google-fonts-local.css" rel="stylesheet"> #}

<style>
    body {
        font-family: sans-serif;
        font-size: 10pt;
        background-repeat: no-repeat;
        background-position: center;
        line-height: 0.1em;
    }

    .gray-box {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        /*height: 1in;*/
                
        border-style: none;
        border-width: 0px;
        border-color: #f2f2f2;

        font-size: 8pt;        
        /*margin: 2pt;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 4px;*/        
        background-color: #eaeaea;
    }
    
    .table-compressed
    {
        /*padding: 2px !important;*/
    }
    
    .table-compressed td, .table-compressed th 
    {
        padding: 6px !important; 
    }    

    a {
        color: blue !important;
        text-decoration: underline;
        cursor: auto;
    }

    #tabdetalle {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        font-size: 1.3em;
    }

        #tabdetalle td, #tabdetalle th {            
            padding: 8px;
            font-size: 0.7em;
        }

        #tabdetalle tr {
            background-color: #f2f2f2;
        }

        #tabdetalle tr:hover {
            background-color: #ddd;
        }

        #tabdetalle th {
            font-weight: bold;
            font-size: 0.7em;
            padding-top: 3px;
            padding-bottom: 3px;
            text-align: left;
            background-color: #ddd;
            color: #000;
        }

    .infoAdicional {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        font-size: 1.3em;
        margin-bottom: 10px;
    }

    .infoAdicional td, .infoAdicional th {
        
        padding: 8px;
        font-size: 0.7em;
    }

    .infoAdicional tr {
        background-color: #f2f2f2;
    }

    .infoAdicional tr:hover {
        background-color: #ddd;
    }

    .infoAdicional th {
        font-weight: bold;
        font-size: 0.7em;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: left;
        background-color: #ddd;
        color: #000;
    }

    .subsection-title {
        background-color: #eaeaea;
        font-weight: bold;
    }

    .summary-title-top {
        background-color: #f2f2f2;
        text-align: left;
        border-left: none;
        border-right: none;        
        border-top-width: medium;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1em;
        font-weight: bold;
    }

    .summary-data-top {
        text-align: right;
        padding-right: 3px;
        background-color: #eaeaea;        
        border-top-width: medium;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1em;
        font-weight: bold;
    }

    .summary-title {
        background-color: #f2f2f2;
        text-align: left;
        border-right: none;
        /*border-bottom: 0.1pt solid;*/
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 0.9em;
    }

    .summary-data {
        background-color: #eaeaea;
        text-align: right;
        padding-right: 3px;
        border-right: none;        
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 0.9em;
    }

    .summary-title-bottom {
        background-color: #f2f2f2;
        text-align: left;
        border-right: none;        
        border-bottom-width: medium;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1.0em;
        font-weight: bold;
    }

    .summary-data-bottom {
        background-color: #eaeaea;
        text-align: right;
        padding-right: 3px;
        border-right: none;        
        border-bottom-width: medium;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1.0em;
        font-weight: bold;
    }

    @media print { body { -webkit-print-color-adjust: exact; } }
    
    .page-header, .page-header-space {
        /*height: 15px;*/ /* Max is 230px */
        margin: 0;
    }

    .page-header {
        position: relative;
        top: 0mm;
        width: 100%;
        border-bottom: 1px solid; /* for demo */
        border-color: #eaeaea;
        margin-bottom:10px;
        line-height: 0.7em;
        font-size: 0.7em;
    }

    .page-footer, .page-footer-space {
        height: 20px; /* Max is 230px */
        margin: 0;
    }

    .page-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 1px solid; /* for demo */
        border-color: #eaeaea;
    }

    .page {    
        font-family: sans-serif;
        font-size: 10pt;
        page-break-after: always;
        margin-top:5px;
        position: relative;
        /*min-height: 1000px;*/ /*Estatico*/
    }

    .page-content {    
        /*font-family: sans-serif;*/
        /*font-size: 10pt;    */
        position: relative;
        padding:1.em;
        margin-top: 30px;
    }

@page {
    /* this affects the margin in the printer settings */ 
    /*margin: 20mm 0mm 30mm 0mm;*/
    /*margin: 0mm 0mm 0mm 0mm */
}

</style>

{% set doc_build = build_doc_fac_with_images(doc.name) %}

<div class="page">    
    <div class="page-header">
        <p>Documento electrónico <strong>No.{{doc.estab}}-{{doc.ptoemi}}-{{'%09d' % doc.secuencial}}</strong></p>
    </div>
    
    <div class="page-content">
        <table style="font-size: 8pt;width:100%;height:100%" cellspacing="0">
            <tr>
                <td align="center" valign="middle" style="width: 50%;vertical-align:bottom">
                    <table style="width: 100%;" cellspacing="0" cellpadding="0" >
                        <tr>
                            <td>
                                <table class="table-compressed">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img src="{{ frappe.db.get_value("Company", doc.company, "company_logo") or "" }}" width="220px" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="gray-box" style="vertical-align:bottom;padding:0">
                                <table class="gray-box table-compressed" style="width:100%;" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td height="40px" valign="top" style="width:310px;font-size: 10pt;"><strong>{{ doc.company }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td align="left"><strong>R.U.C.:</strong>&nbsp;&nbsp;&nbsp; {{ frappe.db.get_value("Company", {'name': doc.company}, "tax_id") or "" }}</td>
                                    </tr>
                                    <tr>
                                        <td align="left"><strong>Matriz:</strong> {{doc_build.DireccionMatriz}}</td>
                                    </tr>
                                    
                                    {% if doc_build.contribuyenteEspecial %}
                                    <tr>
                                        <td align="left"><strong>CONTRIBUYENTE ESPECIAL No:</strong>
                                            <span align="left"><strong>{{doc_build.contribuyenteEspecial}}</strong></span>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                    
                                    </tr>
                                    {% if doc_build.obligadoContabilidad %}
                                    <tr>
                                        <td align="left"><strong>OBLIGADO A LLEVAR CONTABILIDAD: SI</strong></td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td align="left"><strong>OBLIGADO A LLEVAR CONTABILIDAD: NO</strong></td>
                                    </tr>
                                    {% endif %}
                                    
                                    {% if doc_build.contribuyenteRimpe %}
                                    <tr>
                                        <td align="left"><strong>CONTRIBUYENTE RÉGIMEN RIMPE</strong></td>
                                    </tr>
                                    {% endif %}
                                    
                                    {% if doc_build.agenteRetencion %}
                                    <tr>
                                        <td align="left"><strong>Agente de Retenci&oacute;n Resoluci&oacute;n No. {{doc_build.agenteRetencion}}</strong></td>
                                    </tr>
                                    {% endif %}
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width:50%">
                    <table class="gray-box table-compressed" style="width:100%;height:100%;" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td>
                                <table style="font-size: 8pt;width:100%" padding="0" cellspacing="0">
                                    <tr>
                                        <td><strong>FACTURA:</strong></td>
                                        <td valign="top" align="right"><strong>No.</strong>{{doc.estab}}-{{doc.ptoemi}}-{{'%09d' % doc.secuencial}}</td>
                                    </tr>                                    
                                </table>
                            </td>
                        </tr>
                                        
                        <tr>
                            <td align="left"><strong>N&Uacute;MERO DE AUTORIZACI&Oacute;N</strong></td>
                        </tr>
                        <tr>
                            <td align="left"><strong style="letter-spacing: -1px;">{{doc_build.numeroautorizacion}}</strong></td>
                        </tr>
                        <tr>                           
                            <td align="" style="font-size:9px">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="font-size:9px"><strong>Fecha y hora de autorizaci&oacute;n:</strong></td>                            
                        </tr>
                        <tr>                           
                            <td align="" style="font-size:9px"><strong>{{doc_build.fechaautorizacion}}</strong></td>
                        </tr>
                        <tr>                           
                            <td align="" style="font-size:9px">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="left"><strong>AMBIENTE:</strong>
                                {% if doc_build.ambiente == 2 %}
                                    <span>PRODUCCI&Oacute;N</span>
                                {% else %}
                                    <span>PRUEBAS</span>
                                {% endif %}
                            </td>
                        </tr>
                        <td style="font-size:9px" colspan="2"><strong>EMISI&Oacute;N:</strong>&nbsp;&nbsp;&nbsp;NORMAL</td>
                        <tr>
                            <td align="center" style="font-size:9px">CLAVE DE ACCESO</td>
                        </tr>
                        <tr>
                            <td align="center" style="width:100%;padding: 0px !important;">
                                {% if doc_build.numeroautorizacion_img is not none %}
                                    <img src="data:image/png;base64,{{doc_build.numeroautorizacion_img}}" height="60px" style="width:  95% !important;"/>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="font-size: .7em;font-weight: bold;font-family:helvetica;padding: 0px !important;">
                                {{doc_build.numeroautorizacion}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table style="width:100%" cellspacing="0" cellpading="0">
            <tr>
                <td style="padding-bottom: 0px !important;">
                    <table class="gray-box" style="width:100%;" cellpadding="0" cellspacing="0">
                        <tr>            
                            <td height="30px" valign="top" style="width:50%;font-size: 8pt;"><strong>Raz&oacute;n Social: {{ doc_build.customer_name }}</strong></td>    
                            <td height="30px" valign="top" style="width:50%;font-size: 8pt;"><strong>RUC/CI: {{doc_build.customer_tax_id}}</strong></td>
                        </tr>
                        <tr>            
                            <td height="30px" valign="top" style="width:50%;font-size: 8pt;"><strong>Direcci&oacute;n: {{doc_build.direccionComprador}}</strong></td>    
                            <td height="30px" valign="top" style="width:50%;font-size: 8pt;"><strong>Tel&eacute;fono: +593 {{doc_build.customer_phone}}</strong></td>
                        </tr>
                        <tr>            
                            <td height="30px" valign="top" style="width:50%;font-size: 8pt;"><strong>Fec. Emi.: {{doc_build.posting_date}}</strong></td>    
                            <td height="30px" valign="top" style="width:50%;font-size: 8pt;"><strong>Email: {{doc_build.customer_email_id}}</strong></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 0px !important;">
                    <table id="tabdetalle" style="width:100%;" cellspacing="0">
                        <tbody>
                            <tr>
                                <th style="min-width:10%;">Cod.</th>
                                <th style="min-width:10%;">Cant.</th>
                                <th style="min-width:40%;">Descripci&oacute;n</th>
                                <th style="min-width:10%;">P. Un.</th>
                                <th style="min-width:10%;">Desc.</th>
                                <th style="min-width:10%;">Total</th>
                            </tr>
                            
                            {% for item in doc.items %}
                                <tr>
                                    <td>{{ item.item_code }}</td>
                                    <td class="text-right">{{ item.qty }}</td>
                                    <td>{{ item.item_name }}</td>
                                    
                                    {% if item.price_list_rate > 0 %}
                                        <td class="text-right">{{ item.get_formatted('price_list_rate') }}</td>
                                    {% else %}
                                        <td class="text-right">{{ item.get_formatted('net_rate') }}</td>
                                    {% endif %}
                                    
                                    <td class="text-right">{{ item.get_formatted('discount_amount') }}</td>
                                    <td class="text-right">{{ item.get_formatted('amount') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>

        <div data-fieldname="items" data-fieldtype="Table">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th style="width: 40px" class="table-sr">Sr</th>
                        <th style="width: 150px;" class="" data-fieldname="items" data-fieldtype="Table">Producto</th>
                        <th style="width: 200px;" class="" data-fieldname="items" data-fieldtype="Table">Descripción</th>
                        <th style="width: 80px;" class="text-right" data-fieldname="items" data-fieldtype="Table">Cantidad</th>
                        <th style="width: 150px;" class="" data-fieldname="items" data-fieldtype="Table">Unidad de media utilizada en el almacen</th>
                        <th style="width: 150px;" class="" data-fieldname="items" data-fieldtype="Table">UOM</th>
                        <th style="width: 80px;" class="text-right" data-fieldname="items" data-fieldtype="Table">Descuento</th>
                        <th style="width: 80px;" class="text-right" data-fieldname="items" data-fieldtype="Table">Precio</th>
                        <th style="width: 80px;" class="text-right" data-fieldname="items" data-fieldtype="Table">Importe</th>
                        <th style="width: 80px;" class="text-right" data-fieldname="items" data-fieldtype="Table">Rate of Stock UOM</th>
                        <th style="width: 80px;" class="text-center" data-fieldname="items" data-fieldtype="Table">Grant Commission</th>                        
                    </tr>
                </thead>
                <tbody>                    
                    <tr>
                        <td class="table-sr">1</td>
                        <td class="" data-fieldname="items" data-fieldtype="Table">                            
                            <div class="value">001N</div>
                        </td>                        
                        <td class="" data-fieldname="items" data-fieldtype="Table">                            
                            <div class="value"><div class="ql-snow">PRUEBAS001</div></div>
                        </td>
                        <td class="text-right" data-fieldname="items" data-fieldtype="Table">
                            <div class="value"><small class="pull-left">Nos.</small>1</div>
                        </td>
                        <td class="" data-fieldname="items" data-fieldtype="Table">                            
                            <div class="value">Nos.</div>
                        </td>
                        <td class="" data-fieldname="items" data-fieldtype="Table">                            
                            <div class="value">Nos.</div>
                        </td>
                        <td class="text-right" data-fieldname="items" data-fieldtype="Table">                            
                            <div class="value">$ 0.00</div>
                        </td>
                        <td class="text-right" data-fieldname="items" data-fieldtype="Table">                            
                            <div class="value">$ 1.36</div>
                        </td>
                        <td class="text-right" data-fieldname="items" data-fieldtype="Table">                            
                            <div class="value">$ 1.36</div>
                        </td>
                        <td class="text-right" data-fieldname="items" data-fieldtype="Table">                            
                            <div class="value">$ 1.36</div>
                        </td>
                        <td class="text-center" data-fieldname="items" data-fieldtype="Table">                            
                            <div class="value">
                                <svg viewBox="0 0 16 16" fill="transparent" stroke="#1F272E" stroke-width="2" xmlns="http://www.w3.org/2000/svg" id="icon-tick" style="width: 12px; height: 12px; margin-top: 5px;">
                                    <path d="M2 9.66667L5.33333 13L14 3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                        </td>                        
                    </tr>                    
                </tbody>
            </table>
        </div>

        <div class="row section-break" data-label="">
			<div class="col-xs-4 column-break">
			    <div class="row  data-field" data-fieldname="total_qty" data-fieldtype="Float">
				    <div class="col-xs-12">					
					    <label>Cantidad total: </label>					
				    </div>
                    <div class="col-xs-12 value">1</div>
                </div>
            </div>		
            <div class="col-xs-4 column-break"></div>		
			<div class="col-xs-4 column-break">			
                <div class="row">	
                    <div class="col-xs-5">
                        <label>Total</label>
                    </div>
                    <div class="col-xs-7 text-right">$ 1.36</div>
                </div>			
            </div>		
        </div>

        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
            <tbody>
                <tr>
                    <td style="width:50%">
                        <table class="infoAdicional">
                            <tbody>
                                <tr>
                                    <td class="subsection-title">Forma Pagos</td>
                                    <td class="subsection-title" style="text-align: center;">Total</td>
                                    <td class="subsection-title" style="text-align: center;">Plazo</td>
                                    <td class="subsection-title" style="text-align: center;">Tiempo</td>
                                </tr>                                
                                {% for payment in doc_build.pagos %}
                                    <tr>                                        
                                        <td style="text-align: left;">{{payment.formaPagoDescripcion}}</td>                                    
                                        <td style="text-align: center;">{{frappe.format(payment.total,'Currency')}}</td>                                    
                                        <td style="text-align: center;">{{payment.plazo}}</td>                                    
                                        <td style="text-align: center;">{{payment.unidadTiempo}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        <table class="infoAdicional" style="width:90%">
                            <tbody>
                                <tr>
                                    <td class="subsection-title" colspan="2">Informaci&oacute;n Adicional</td>
                                </tr>                        
                                {% for jsonItem in doc_build.infoAdicional %}
                                    <tr>
                                        <td style="text-align: left;">{{jsonItem.nombre}}</td>
                                        <td style="text-align: left;">{{jsonItem.valor}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>                        
                    </td>
                    
                    <td style="width:50%" valign="top">
                        <table cellpadding="1" cellspacing="0" style="width:100%">
                            <tbody>
                                
                                {% for tax_item in doc_build.taxes %}
                                <tr>
                                    <td class="summary-title-top">SUBTOTAL {{tax_item.compute_label_sri}}</td>
                                    <td class="summary-data-top">{{frappe.format(tax_item.tax_amount,'Currency')}}</td>
                                </tr>
                                {%- endfor %}
                                    
                                <tr>
                                    <td class="summary-title">SUBTOTAL No objeto de IVA</td>
                                    <td class="summary-data">$ 0.00</td>
                                </tr>
                                <tr>
                                    <td class="summary-title">SUBTOTAL Exento de IVA</td>
                                    <td class="summary-data">$ 0.00</td>
                                </tr>
                                <tr>
                                    <td class="summary-title">SUBTOTAL SIN IMPUESTOS</td>
                                    <td class="summary-data">{{doc.get_formatted('total')}}</td>
                                </tr>
                                <tr>
                                    <td class="summary-title">TOTAL DESCUENTO</td>
                                <td class="summary-data">{{doc.get_formatted('TotalDescuento')}}</td>
                                </tr>
                            
                                {% for tax_item in doc_build.taxes %}
                                    <tr>
                                        <td class="summary-title">{{tax_item.compute_label_sri}}</td>
                                        <td class="summary-data-top">{{frappe.format(tax_item.tax_amount,'Currency')}}</td>
                                    </tr>
                                {% endfor %}
                                
                                <tr>
                                    <td class="summary-title-bottom"><strong>VALOR A PAGAR</strong></td>
                                    <td class="summary-data-bottom"><strong>{{doc.get_formatted('grand_total')}}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>  

    <div class="page-footer" style="display:none;">
        <div style="margin-top:10px">Powered by <a href="https://beebtech.net/" target="_blank">https://beebtech.net</a></div>
    </div>
 </div>
    
